@use '../../utils/global';
.welcome-container {
    display:flex;
    flex-direction: row;
    width:100%;
    height: 100vh;
    //background-color: rgba($color: global.$main-background-color, $alpha: 0.2);
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position:fixed;
        z-index: -1;
    }

    .subtitle-container {
        position: absolute;
        top: 0;
        width: 100%;
        height:100%;
        padding:1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        
        
        h1{
            color: global.$main-text-color;
        }
    }
}