.welcome-container {
    
    display:flex;
    flex-direction: row;
    width:100%;
    height: 100vh;
    background-color: rgba($color: #23293f, $alpha: 1.0);

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
   
    }

    .subtitle-container {
        position: absolute;
        top: 0;
        width: 100%;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        
        h1{
            
            color:white;
        }
        .name{
            color:#23293f;
            font-size: 8vh;
            
        }
        
        .role{
            font-family: 'Noto Sans JP', sans-serif;
        }
    }
}