@import '../../utils/global-styles.scss';
.welcome-container {
    display:flex;
    flex-direction: row;
    width:100%;
    height: 100vh;
    background-color: $main-background-color;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
       
    }

    .subtitle-container {
        position: absolute;
        top: 0;
        width: 100%;
        height:100%;
        padding:1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        
        
        h1{
            color: $main-text-color;
        }
    }
}