@use '../../utils/global';

.contact {
    min-height: 100vh;
    padding: 2%;
    width: 100%;
    background-color:  rgba($color: global.$secondary-background-color, $alpha: 0.9);
    box-shadow: global.$section-box-shadow;
    color: white;
    display: flex;
    align-items: center;
    .contact-field{
        width: 100%;
        height: auto;
        display:flex;
        flex-direction: row;
        flex-flow: wrap;
        align-items: center;
        margin-top: 50px;
        justify-content: space-around;
        background-color: global.$main-background-color;
        border-radius: 25px;
        box-shadow:global.$container-box-shadow;
   
       
        .contact-subtitles {
            text-align: center;
            padding:2%;

            .contact-details{
                text-align: center;
                margin-left: auto;
                margin-right:auto;
            }

            h1{
                font-size: global.$section-header-responsive-font-size;
                display:inline-block;
                padding-bottom: 10px; 
                position:relative;
        
            
            }

            p,.contact-details{
                font-size:global.$text-responsive-font-size;
                text-align: left;
            }

            .contact-details{
                margin-left: 90px;
            }

          
        
            h1:before{ 
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                bottom: 0;
                left: 0;
                border-bottom: 6px solid global.$accent-color;
            }

            .link{
                text-decoration: none;
                color:#ffffff;
            }

            .link:after{
                content: ""; 
                display: block; 
                height: 3px;
                width: 0;
                background: transparent;
                transition: width 0.7s ease, background-color 0.5s ease; 
            }
            .link:hover:after{
                width: 25%;
                background:global.$accent-color;
            }
            
            
        }
    }
    


}