.projects{
    background-color: #191f29;
    overflow: auto;
    height: auto;
    width: auto;
    .project-subtitles{
        color:white;
        text-align: center;
        margin-top: 100px;
    }
    .project-container {
        display:flex;
        flex-flow: wrap;
        justify-content: space-around;
        height: 100vh;
        
    }
}