.projects{
    
    overflow: auto;
    height: 100vh;
    width: auto;
    .project-subtitles{
        text-align: center;
        margin-top: 100px;
    }
    .project-container {
        display:flex;
        flex-flow: wrap;
        justify-content: space-around;
        margin-bottom: 30px;
        
    }
}