.projects{
    margin-top: 50px;
    height: 100vh auto;
    width: 100%;
    .project-container {
        display:flex;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: space-around;
        
        
        .project-card {
            width: 300px;
            height:400px;
            color:black;
            border: 1px solid black;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        }
        .project-card:hover {
            box-shadow: 0 5px 15px rgba(52, 103, 212, 0.815);
        }
    }
}