.navigation-container {
    background-color:rgba(25,31, 41, 0.95);
    position: absolute;
    z-index: 1001;
    width: 100%;

    .toggler-icon {
        color:white;
        border-width: 3px;
        border-color: white;
        align-items: right;

        
     }
    .nav-links-container {
        display: flex;
        flex: 1;
        align-items: right;
        justify-content: right;
        .nav-link {
            color:white;
            padding: 10px 15px;
            cursor: pointer;
            text-decoration: none;
            font-family: 'Jaldi', sans-serif;
            font-size: 24px;
            .icon {
                width:40px;
                height:40px;
            }

            
        }
        .nav-link:after {
            content: ""; 
            display: block; 
            height: 3px;
            width: 0;
            background: transparent;
            transition: width 0.7s ease, background-color 0.5s ease; 
        }

        .nav-link:hover:after {
            width: 100%;
            background:white;
        }


        
    }
}


