.form-container {
    flex:1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:1%;
    
    
    .labels{
        font-size: 20px;
        font-weight: bold;
    }

    .input-group{
        margin-bottom: 30px;
        
        .input-form{
            color:white;
            background: #23293f;
        }
    
    }

    .textArea {
        height:200px
    }

    .submit-div{
        display:flex;
        flex-direction: row;
        justify-content: center;
        .submit-button {
            color:white;
            background:#23293f;
            width:40%;
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
        }
    
        .submit-button:hover{
            color:black;
            background:rgb(255, 255, 255);
        }
    }
}