@use '../../utils/global';

.form-container {
    flex:1;
    padding:2%;
    
    
    .labels{
        font-size: global.$regular-text-font;
        font-family: global.$second-header-text-font;
        font-weight: bold;
  
    }

    .input-group{
        margin-bottom: 30px;
        
        .input-form{
            position: relative;
            color:white;
            background: global.$secondary-background-color;
            border: 2px solid global.$accent-color;
      
        }

        .input-form:focus {
            outline: none !important;
            border:2px solid global.$accent-color;
        }
    
    }

    .textArea {
        height:200px
    }

    .submit-div{
        display:flex;
        flex-direction: row;
        justify-content: center;
        .submit-button {
            color:black;
            background:global.$accent-color;
            width:270px;
            height:70px;
            font-size: 24px;
            font-family: global.$second-header-text-font;
            font-weight: bold;
            text-transform: uppercase;
        }
    
        .submit-button:hover{
            color:black;
            background:rgb(255, 255, 255);
        }
    }
}