@use "../../utils/global";


.about {
    min-height: 100vh;
    padding-top: 100px;
    display:flex;
    align-items: center;
    background-color: global.$secondary-background-color;
    .about-contents{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        width: 100%;
        padding:1%;
    }
}