@use '../../utils/global';

$sub-title-font-size: calc(1em + 3vmin);

.greetings{
    font-size: $sub-title-font-size;
}
.name, .role{
    font-size:global.$name-responsive-font-size;
    font-family:global.$second-header-text-font;
}

.role{
    //font-family: global.$second-header-text-font;
    font-size: $sub-title-font-size;
}
