@import '../../utils/global-styles.scss';

$sub-title-font-size: calc(1em + 3vmin);

.greetings{
    font-family: $second-header-text-font;
    font-size: $sub-title-font-size;
}
.name{
    font-size: $name-responsive-font-size;
    
}

.role{
    font-family: $second-header-text-font;
    font-size: $sub-title-font-size;
}
