@import './utils/global-styles.scss';

.App {
  min-height: 100vh;

}

h1{
  font-family: $header-text-font;
}

h2{
  font-family: $second-header-text-font;
}


p{
  font-family: $regular-text-font;
}



