
.App {
  min-height: 100vh;
  color:white;
  background-color: #23293f;
}


h1{
  color:white;
  font-family: 'Pacifico', cursive;
  padding:2%;
}

p{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: larger;
}




