
.App {
  min-height: 100vh;
  color:white;
  background-color: #23293f;
}


h1{
  color:white;
  font-family: 'Pacifico', cursive;
}

h2{
  font-family: 'Kantumruy Pro', sans-serif;
}


p{
  font-family: 'Noto Sans JP', sans-serif;
}



