.project-container {
    display:flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    

    .card-container{
        padding:1%;
        .project-card{
           
            background-color: rgb(41, 43, 46);
            color:white;
            margin-top: 20px;
            width: 600px;
            height:500px auto;
            border: 1px solid black;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
            .card-image{
                height: 300px;
                max-width:auto;
                align-items: center;
                justify-content: center;
                object-fit: fit;
            }
            .project-description{
                font-size: 18px;
                text-align: left;
            }
            .card-buttons {
                text-align: center;
                display: flex;
                flex-flow:wrap;
                justify-content: center;
                align-items: center;
                margin: auto;
                padding: 2%;
                width:100%;
                .btn {
                    margin-left: 5px;
                    position: relative;
                    width: 40%;
                }
            }
            
        
           
        }
        
        .project-card:hover {
            box-shadow: 5px 5px 15px 15px rgba(229, 223, 223, 0.815);
            transition: box-shadow 1s ease;
        }
    }
    
}
