.project-card{
    background-color: #364052;
    color:white;
    margin-top: 20px;
    width: 400px;
    height:500px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    .card-image{
        height: 100%;
        width:100%;
        align-items: center;
        justify-content: center;
    }
    
    .btn {
        margin-left: 5px;
        position: relative;
    }
}

.project-card:hover {
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.815);
}